<div *ngIf="users$ | async as users" class="container-table">

  <div class="table-title">
    <div class="col-12 user-list-text">
      Users List
    </div>

    <p class="page-description">
      lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos quae. Quisquam, quos quae. Quisquam, quos
    </p>

  </div>


  <p-table
    [paginator]="true"
    [lazy]="true"
    [rows]="usersService.perPage"
    [totalRecords]="usersService.total"
    [first]="(usersService.page - 1) * usersService.perPage"
    [responsive]="true"
    [showCurrentPageReport]="true"
    [showFirstLastIcon]="false" [tableStyle]="{ 'min-width': '25rem', marginTop: '25px' }"
    [value]="users"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

    <ng-template pTemplate="header">
      <tr>
        <th class="th-style" style="width:5%">Photo</th>
        <th class="th-style">First Name</th>
        <th class="th-style">Last Name</th>
        <th class="th-style">Email</th>
        <th class="th-style" style="width:25%"></th>
      </tr>
    </ng-template>
    <ng-template let-i="index" let-user pTemplate="body" style="width: 1296px; height: 72px">
      <tr>
        <td>
          <img [src]="user.avatar" alt="user photo" class="p-avatar avatar-style" width="32"/>
        </td>
        <td class="tb-style">{{ user.first_name }}</td>
        <td class="tb-style">{{ user.last_name }}</td>
        <td class="tb-style email-style">{{ user.email }}</td>
        <td>
          <button
            (click)="sendEmail(user.email)"
            class="p-button-primary send-button p-button-rounded"
            pButton
            type="button">
            <img alt="send icon" class="btn-icon" src="assets/send_24px.svg" style="width: 24px; height: 24px">
            <div class="btn-text">
              Send Email
            </div>
          </button>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button icon="pi pi-plus" styleClass="p-button-text" type="button"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button icon="pi pi-cloud" styleClass="p-button-text" type="button"></p-button>
    </ng-template>
  </p-table>
</div>
