<div class="container-table" *ngIf="users$ | async as users">

  <div class="table-title">
    <div class="col-12 user-list-text">
      Users List
    </div>

    <p class="page-description">
      lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos quae. Quisquam, quos quae. Quisquam, quos
    </p>

  </div>


  <p-table
    [value]="getDupicatedUsers(users)"
    [paginator]="true"
    [rows]="6"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '25rem', marginTop: '25px' }" [responsive]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showFirstLastIcon]="false"
  >

    <ng-template pTemplate="header">
      <tr>
        <th class="th-style" style="width:5%">Photo</th>
        <th class="th-style">First Name</th>
        <th class="th-style">Last Name</th>
        <th class="th-style">Email</th>
        <th class="th-style" style="width:25%"></th>
      </tr>
    </ng-template>
    <ng-template style="width: 1296px; height: 72px" pTemplate="body" let-user let-i="index">
      <tr>
        <td>
          <img class="p-avatar avatar-style" [src]="user.avatar" width="32" alt="user photo"/>
        </td>
        <td class="tb-style" >{{ user.first_name }}</td>
        <td class="tb-style">{{ user.last_name }}</td>
        <td class="tb-style email-style">{{ user.email }}</td>
        <td>
          <button
            (click)="sendEmail(user.email)"
            pButton
            type="button"
            class="p-button-primary send-button p-button-rounded">
            <img class="btn-icon" style="width: 24px; height: 24px" src="assets/send_24px.svg" alt="send icon">
            <div class="btn-text">
              Send Email
            </div>
          </button>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-table>
</div>
